@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 224 76% 11%;
    --card: 0 0% 100%;
    --card-foreground: 224 76% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 76% 11%;
    --primary: 223 81% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 215 14% 83%;
    --secondary-foreground: 224 76% 11%;
    --muted: 215 14% 83%;
    --muted-foreground: 215 18% 47%;
    --accent: 223 81% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 215 20% 90%;
    --input: 215 20% 90%;
    --ring: 223 81% 53%;
    --radius: 0.5rem;

    --chart-1: 223 81% 53%;
    --chart-2: 158 70% 41%;
    --chart-3: 38 92% 50%;
    --chart-4: 0 84% 60%;
    --chart-5: 262 74% 56%;
    --chart-6: 340 83% 66%;

    --sidebar-background: 222.2 84% 4.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 222.2 84% 4.9%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 215 20.2% 65.1%;
  }

  .dark {
    --background: 215 39% 11%;
    --foreground: 210 20% 98%;
    --card: 220 26% 16%;
    --card-foreground: 210 20% 98%;
    --popover: 220 26% 16%;
    --popover-foreground: 210 20% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 28% 47%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 28% 47%;
    --muted-foreground: 215 28% 65%;
    --accent: 217 91% 60%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 63% 67%;
    --destructive-foreground: 210 20% 98%;
    --border: 217 22% 28%;
    --input: 217 22% 28%;
    --ring: 217 91% 60%;
    
    --chart-1: 217 91% 60%;
    --chart-2: 142 71% 40%;
    --chart-3: 45 93% 57%;
    --chart-4: 0 63% 67%;
    --chart-5: 262 74% 66%;
    --chart-6: 340 83% 66%;

    --sidebar-background: 222.2 84% 4.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 222.2 84% 4.9%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 215 20.2% 65.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
  .print\:hidden {
    display: none;
  }
  main {
    padding: 0 !important;
  }
}
