@media print {
  @page {
    size: 80mm;
    margin: 0;
  }
  body {
    margin: 0;
    -webkit-print-color-adjust: exact;
  }
  main {
    padding: 2mm;
    margin: 0;
  }
  main > div {
    width: 100% !important;
    margin: 0 !important;
  }
}
